<div class="page-layout carded fullwidth" fusePerfectScrollbar style="font-size:14pt">
    <div class="center">
        <div class="card-content mat-white-bg" fusePerfectScrollbar>
            <div class="content" style="padding:20px;">
                <mat-toolbar class="mat-elevation-z4" style="background-color:#fff; font-size: 25pt; color: #6535a5; font-weight: bold;">
                    <span>Cart</span>
                </mat-toolbar>
                <br>
            </div>
        </div>
        <div style="padding:20px;">
            <div class="cart-items-container">
                <div class="cart-item" *ngFor="let item of cartItems">
                <img [src]="item.productImageUrl" alt="{{ item.productName }} image" style="height: 100px; width: 100px;">
                <div class="cart-item-details">
                    <h3>{{ item.productName }}</h3>
                    <p>{{ item.productDescription }}</p>
                    <p>Quantity: <mat-icon (click)="increaseQty(item)" style="padding-right:5px; color:#6535a5"> add</mat-icon>{{ item.quantity }}
                        <mat-icon (click)="decreaseQty(item)" style="padding-left:5px; color:#6535a5"> remove</mat-icon>
                    </p>
                    <p>Unit Price: {{ item.unitPrice | currency }}</p>
                    <p>Total Price: {{ item.totalPrice | currency }}</p>
                    <p>Total Weight: {{ item.totalWeight }} KG</p>
                    <button mat-raised-button color="warn" (click)="removeFromCart(item)">Remove</button>
                </div>
                </div>
            </div>
    
            <div class="cart-summary">
                <div class="total-price">
                <h3>Total Price: {{ cartTotal | currency }}</h3>
                </div>
                <div class="total-price">
                    <h4>Total Weight: {{ totalCartWeight }} KG</h4>
                    </div>
                <div class="checkout-button" *ngIf="isCheckoutVisible">
                <button mat-raised-button color="#6535a5" [disabled]="cartItems.length === 0" (click)="checkout()">Checkout</button>
                </div>
            </div>
            <div *ngIf="!isCheckoutVisible">
                <mat-form-field>
                    <mat-label>Select a rider</mat-label>
                    <mat-select [(ngModel)]="selectedRider">
                      <mat-option *ngFor="let rider of riders" [value]="rider">{{ rider.fullName }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <div>
                    <button class="checkout-button" mat-raised-button color="#6535a5"  (click)="confirmOrder()">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</div>
  